spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: USER-SERVICE
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
            - id: HOTEL-SERVICE
              uri: lb://HOTEL-SERVICE
              predicates:
                - Path=/hotels/**,/staffs/**
            - id: RATING-SERVICE
              uri: lb://RATING-SERVICE
              predicates:
                - Path=/ratings/**
          discovery:
            locator:
              lower-case-service-id: true
              enabled: true
  config:
    import: configserver:http://localhost:8085

server:
  port: 9090
