server:
  port: 8083
spring:
  application:
    name: rating-service
  datasource:
    url: jdbc:mysql://localhost:3306/rating_micro_db
    username: root
    password: Root@admin_123
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  config:
    import: configserver:http://localhost:8085
