spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/dnyanes/microservice_config
          clone-on-start: true
server:
  port: 8085
